<style>
    footer {
    margin-left: 200px; /* Adjust this value to match the sidebar width */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Added this property to center the content horizontally */
    }
  </style>
  
  <footer>
    <p>&copy; 2023 SI EMBE. All rights reserved.</p>
  </footer>
  